<!DOCTYPE html>
<html>
    <head>
        <title>Start Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="assets/js/libs/angular/angular.min.js" type="text/javascript"></script>
        <script src="assets/js/libs/jQuery/jquery.min.js" type="text/javascript"></script>
    
    </head>
   <!-- <body ng-app="" ng-init="x=10;y=20;colors=['red','green','black']">
        
        <h1>{{x*y}} </h1>
        
        
        
        
        <h1 ng-repeat="c in colors">{{c| uppercase}}</h1>
        
        
        
        
        
        <input type="text" ng-model="x"/>
         <input type="text" ng-model="y"/>
        
    </body>
   -->
   
  <!-- 
   <body ng-app="myapp">
       
       <div ng-controller="HomeController"> 
           <h1>{{x*y}} </h1>
           <input type="text" ng-model="x" />
           <input type="text" ng-model="y" />
       </div>
       
       
   </body>
     -->
     
    <!-- <body ng-app="myapp">
       
       <div ng-controller="HomeController"> 
           <h1> Colors </h1>
           <ul>
               <li ng-repeat="c in colors">  {{c}}
           </ul>
           <form>
               <div>
               <label>Add Color </label>
               <input type="text" ng-model="color"/> 
               </div>
               <button type="submit" ng-click="addColor()"> Add </button>
           </form>
           
       </div>
    -->
         <!--
   <script>
       
       var app= angular.module("myapp",[]);
       
  app.controller("HomeController",function($scope){
      
     // $scope.x=10;
     // $scope.y=20;
     
     $scope.colors=['red','black','green'];
     $scope.color="";
     
     
     $scope.addColor=function(){
         $scope.colors.push($scope.color);
         $scope.color="";
     }
      
  });
   
   </script>
   -->
   
   
   <body ng-app="myapp">
       <div ng-controller="HomeController">
            <h1> Students </h1>
            
            <div style="float: right;margin-right: 80px">
            
            <p>
                <a href="javascript:void(0)" ng-click="showAddDialog()"> Add Student </a>
            </p>
            
            </div>
            <table >
               
                <tr>
                    <th>Id </th>
                    <th>Name </th>
                    <th>Email </th>
                    <th> Contact No.</th>
                    <th>Status </th>
                </tr>
                
                 
                <tr ng-repeat="s in students">
                    <td> {{s.id}} </td>
                    <td> {{s.firstName}} {{s.lastName}} </td>
                    <td> {{s.email}} </td>
                    <td> {{s.contactNo}} </td>
                    <td> {{s.status}} </td>
                </tr>
                
            </table>
            
     
       
       
       <div id="dialog" style="display:none">
           <form>
               <div>
                   <label> FirstName  </label>
                   <input type="text" ng-model="student.firstName"/>
               </div>
               <div>
                   <label> Last Name  </label>
                   <input type="text" ng-model="student.lastName"/>
               </div>
               <div>
                   <label> Email  </label>
                   <input type="text" ng-model="student.email"/>
               </div>
               <div>
                   <label> Contact No </label>
                   <input type="text" ng-model="student.contactNo"/>
               </div>
           
           <div>
                   <label> Status </label>
                   <label>   <input type="checkbox" ng-model="student.status"/>Active </label>
               </div>
           
           <button type="submit" ng-click="saveStudent()"> Save </button>
           </form>
           
       </div>
       </div>
  </body>
   
   <script>
       var app= angular.module("myapp",[]);
       app.controller("HomeController",function($scope){

        $scope.students=[];
        $scope.student={};
        $scope.showAddDialog=function(){
            $("#dialog").show();
            
        };
        
        
        $scope.saveStudent=function(){
            
           if($scope.students.length==0){
                $scope.student.id=1;
            }
            else{
                 $scope.student.id=$scope.students[$scope.students.length-1].id+1;
            }
           
            
          // $scope.student.id=$scope.students[$scope.students.length];
            $scope.students.push($scope.student);
            $scope.student={};
        };
       });
       
  </script>
   
   
   
   
   
</html>
